generated/generic_20260415_173328.yml
app:
  description: 一个面向电商订单履约的中等复杂工作流，处理从订单创建到发货的全链路流程，包含库存预占、支付、物流、异常处理与审计日志。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 电商订单履约工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: code
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: agg_9d239988-source-check_payment_success-target
      source: agg_9d239988
      sourceHandle: source
      target: check_payment_success
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_da2d5ef8-source-aggregate_success-target
      source: agg_da2d5ef8
      sourceHandle: source
      target: aggregate_success
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: format_result-source-answer_1-target
      source: format_result
      sourceHandle: source
      target: answer_1
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_22b7ce20-source-agg_09958b81-target
      source: llm_fallback_22b7ce20
      sourceHandle: source
      target: agg_09958b81
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_2a24e317-source-agg_da2d5ef8-target
      source: llm_fallback_2a24e317
      sourceHandle: source
      target: agg_da2d5ef8
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_58d52e03-source-agg_c1cd2dd3-target
      source: llm_fallback_58d52e03
      sourceHandle: source
      target: agg_c1cd2dd3
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_b49e30ea-source-agg_358497fa-target
      source: llm_fallback_b49e30ea
      sourceHandle: source
      target: agg_358497fa
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_fa2dbbdc-source-agg_9d239988-target
      source: llm_fallback_fa2dbbdc
      sourceHandle: source
      target: agg_9d239988
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: parse_order-success-branch-agg_09958b81-target
      source: parse_order
      sourceHandle: success-branch
      target: agg_09958b81
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: parse_order-fail-branch-llm_fallback_22b7ce20-target
      source: parse_order
      sourceHandle: fail-branch
      target: llm_fallback_22b7ce20
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
        isInLoop: false
      id: start_1-source-parse_order-target
      source: start_1
      sourceHandle: source
      target: parse_order
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: aggregate_failure-source-format_result-target
      source: aggregate_failure
      sourceHandle: source
      target: format_result
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: aggregate_success-source-format_result-target
      source: aggregate_success
      sourceHandle: source
      target: format_result
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_358497fa-source-agg_9d239988-target
      source: agg_358497fa
      sourceHandle: source
      target: agg_9d239988
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_358497fa-source-aggregate_failure-target
      source: agg_358497fa
      sourceHandle: source
      target: aggregate_failure
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: agg_358497fa-source-llm_fallback_fa2dbbdc-target
      source: agg_358497fa
      sourceHandle: source
      target: llm_fallback_fa2dbbdc
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: check_payment_success-success-agg_da2d5ef8-target
      source: check_payment_success
      sourceHandle: success
      target: agg_da2d5ef8
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: check_payment_success-success-aggregate_failure-target
      source: check_payment_success
      sourceHandle: success
      target: aggregate_failure
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: check_payment_success-success-llm_fallback_2a24e317-target
      source: check_payment_success
      sourceHandle: success
      target: llm_fallback_2a24e317
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: check_payment_success-failure-agg_c1cd2dd3-target
      source: check_payment_success
      sourceHandle: failure
      target: agg_c1cd2dd3
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: check_payment_success-failure-llm_fallback_58d52e03-target
      source: check_payment_success
      sourceHandle: failure
      target: llm_fallback_58d52e03
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_09958b81-source-agg_358497fa-target
      source: agg_09958b81
      sourceHandle: source
      target: agg_358497fa
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_09958b81-source-aggregate_failure-target
      source: agg_09958b81
      sourceHandle: source
      target: aggregate_failure
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: agg_09958b81-source-llm_fallback_b49e30ea-target
      source: agg_09958b81
      sourceHandle: source
      target: llm_fallback_b49e30ea
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: agg_c1cd2dd3-source-aggregate_failure-target
      source: agg_c1cd2dd3
      sourceHandle: source
      target: aggregate_failure
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: start_1
        type: start
        variables:
        - default: ''
          hint: ''
          label: 前端订单创建事件数据
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: order_event
      height: 72
      id: start_1
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\norder_data = json.loads(order_event)\nreturn {\n    'order_id':\
          \ order_data.get('order_id'),\n    'user_id': order_data.get('user_id'),\n\
          \    'items': order_data.get('items', []),\n    'total_amount': order_data.get('total_amount'),\n\
          \    'shipping_address': order_data.get('shipping_address')\n}\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: parse_order
        type: code
        variables:
        - variable: input_text
          value_selector:
          - start
          - order_event
        error_strategy: fail-branch
      height: 51
      id: parse_order
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: success
          id: success
          logical_operator: or
          conditions:
          - id: cond_a5167316
            varType: string
            comparison_operator: contains
            value: success
            variable_selector:
            - agg_9d239988
            - text
        - case_id: failure
          id: failure
          logical_operator: or
          conditions:
          - id: cond_6737ec9a
            varType: string
            comparison_operator: contains
            value: failure
            variable_selector:
            - agg_9d239988
            - text
        selected: false
        title: check_payment_success
        type: if-else
      height: 99
      id: check_payment_success
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\"):\n    values = []\n   \
          \ values.append(arg1)\n    for v in values:\n        if v is None:\n   \
          \         continue\n        if isinstance(v, str) and v.strip():\n     \
          \       return {\"output\": v}\n        if not isinstance(v, str):\n   \
          \         try:\n                s = json.dumps(v, ensure_ascii=False)\n\
          \                if isinstance(s, str) and s.strip():\n                \
          \    return {\"output\": s}\n            except Exception:\n           \
          \     pass\n    return {\"output\": \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: aggregate_success
        type: code
        variables:
        - variable: arg1
          value_selector:
          - agg_da2d5ef8
          - output
      height: 51
      id: aggregate_success
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\", arg3:\
          \ str = \"\", arg4: str = \"\"):\n    values = []\n    values.append(arg1)\n\
          \    values.append(arg2)\n    values.append(arg3)\n    values.append(arg4)\n\
          \    for v in values:\n        if v is None:\n            continue\n   \
          \     if isinstance(v, str) and v.strip():\n            return {\"output\"\
          : v}\n        if not isinstance(v, str):\n            try:\n           \
          \     s = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: aggregate_failure
        type: code
        variables:
        - variable: arg1
          value_selector:
          - agg_358497fa
          - output
        - variable: arg2
          value_selector:
          - check_payment_success
          - text
        - variable: arg3
          value_selector:
          - agg_09958b81
          - output
        - variable: arg4
          value_selector:
          - agg_c1cd2dd3
          - output
      height: 51
      id: aggregate_failure
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "audit_output = audit_log_output\nif 'payment_tx_id' in aggregate_success_output:\n\
          \    return {\n        'final_order_status': 'fulfilled',\n        'fulfillment_result':\
          \ 'success',\n        'payment_transaction_id': aggregate_success_output.get('payment_tx_id'),\n\
          \        'logistics_order_id': aggregate_success_output.get('logistics_id'),\n\
          \        'audit_log_id': audit_output.get('log_id'),\n        'error_messages':\
          \ []\n    }\nelse:\n    return {\n        'final_order_status': 'cancelled',\n\
          \        'fulfillment_result': 'failure',\n        'payment_transaction_id':\
          \ None,\n        'logistics_order_id': None,\n        'audit_log_id': audit_output.get('log_id'),\n\
          \        'error_messages': ['Payment processing failed']\n    }\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: format_result
        type: code
        variables:
        - variable: input_text
          value_selector:
          - start
          - order_event
      height: 51
      id: format_result
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#format_result.result#}}'
        selected: false
        title: answer_1
        type: answer
        variables: []
      height: 102
      id: answer_1
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - order_event: {{#start.order_event#}}


            上游节点输出结果：

            - parse_order: {{#parse_order.result#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_22b7ce20
      position:
        x: 2180
        y: 280
      positionAbsolute:
        x: 2180
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - llm_fallback_22b7ce20
          - text
        - variable: arg2
          value_selector:
          - parse_order
          - result
      height: 51
      id: agg_09958b81
      position:
        x: 2480
        y: 280
      positionAbsolute:
        x: 2480
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - order_event: {{#start.order_event#}}


            上游节点输出结果：

            - agg_09958b81: {{#agg_09958b81.output#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_b49e30ea
      position:
        x: 2780
        y: 280
      positionAbsolute:
        x: 2780
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - llm_fallback_b49e30ea
          - text
        - variable: arg2
          value_selector:
          - agg_09958b81
          - output
      height: 51
      id: agg_358497fa
      position:
        x: 3080
        y: 280
      positionAbsolute:
        x: 3080
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - order_event: {{#start.order_event#}}


            上游节点输出结果：

            - agg_358497fa: {{#agg_358497fa.output#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_fa2dbbdc
      position:
        x: 3380
        y: 280
      positionAbsolute:
        x: 3380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - llm_fallback_fa2dbbdc
          - text
        - variable: arg2
          value_selector:
          - agg_358497fa
          - output
      height: 51
      id: agg_9d239988
      position:
        x: 3680
        y: 280
      positionAbsolute:
        x: 3680
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - order_event: {{#start.order_event#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_2a24e317
      position:
        x: 3980
        y: 280
      positionAbsolute:
        x: 3980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - llm_fallback_2a24e317
          - text
        - variable: arg2
          value_selector:
          - check_payment_success
          - text
      height: 51
      id: agg_da2d5ef8
      position:
        x: 4280
        y: 280
      positionAbsolute:
        x: 4280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - order_event: {{#start.order_event#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_58d52e03
      position:
        x: 4580
        y: 280
      positionAbsolute:
        x: 4580
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - llm_fallback_58d52e03
          - text
        - variable: arg2
          value_selector:
          - check_payment_success
          - text
      height: 51
      id: agg_c1cd2dd3
      position:
        x: 4880
        y: 280
      positionAbsolute:
        x: 4880
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
