generated/generic_20260415_084541.yml
app:
  description: 通过自动化与人工协作结合的方式，高效处理从多渠道采集的原始线索，实现从获取到转化（或沉淀）的全过程精细化管控。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 市场活动线索全生命周期管理
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: code
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: agg_a2e92b86-source-answer-target
      source: agg_a2e92b86
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: input_check_1-success-branch-agg_a2e92b86-target
      source: input_check_1
      sourceHandle: success-branch
      target: agg_a2e92b86
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: input_check_1-fail-branch-llm_fallback_517f5c8e-target
      source: input_check_1
      sourceHandle: fail-branch
      target: llm_fallback_517f5c8e
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_fallback_517f5c8e-source-agg_a2e92b86-target
      source: llm_fallback_517f5c8e
      sourceHandle: source
      target: agg_a2e92b86
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
        isInLoop: false
      id: start_1-source-input_check_1-target
      source: start_1
      sourceHandle: source
      target: input_check_1
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: start_1
        type: start
        variables:
        - default: ''
          hint: ''
          label: 原始线索数据
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: raw_leads_data
        - default: ''
          hint: ''
          label: 智能评分规则/标准
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: scoring_criteria
        - default: ''
          hint: ''
          label: 预算分流阈值
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: budget_threshold
        - default: ''
          hint: ''
          label: 线索来源优先级列表
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: source_priority_list
        - default: ''
          hint: ''
          label: VIP专线手动指派规则
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: vip_assignment_rules
        - default: ''
          hint: ''
          label: 公海池自动匹配规则
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: public_pool_matching_rules
        - default: ''
          hint: ''
          label: 销售跟进超时时长（小时）
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: timeout_duration
        - default: ''
          hint: ''
          label: 首次触达结果定义（商机/战败/孵化）
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: first_contact_outcome_definitions
      height: 72
      id: start_1
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import pandas as pd\nimport json\ndef main(raw_leads_data, scoring_criteria,\
          \ budget_threshold, source_priority_list, vip_assignment_rules, public_pool_matching_rules,\
          \ timeout_duration, first_contact_outcome_definitions):\n    # 解析原始数据文件\n\
          \    if raw_leads_data.endswith('.csv'):\n        df = pd.read_csv(raw_leads_data)\n\
          \    elif raw_leads_data.endswith('.json'):\n        df = pd.read_json(raw_leads_data)\n\
          \    else:\n        raise ValueError('不支持的文件格式')\n    \n    # 校验必要字段\n \
          \   required_fields = ['lead_id', 'name', 'contact', 'source', 'budget',\
          \ 'create_time']\n    missing_fields = [field for field in required_fields\
          \ if field not in df.columns]\n    if missing_fields:\n        raise ValueError(f'缺少必要字段:\
          \ {missing_fields}')\n    \n    # 解析其他输入参数\n    params = {\n        'scoring_criteria':\
          \ scoring_criteria\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: input_check_1
        type: code
        variables:
        - variable: input_text
          value_selector:
          - start
          - raw_leads_data
        error_strategy: fail-branch
      height: 51
      id: input_check_1
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#agg_a2e92b86.output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '上游执行失败。请根据用户输入与已知上下文，给出可交付的替代结果，并说明关键假设。


            用户输入：

            - raw_leads_data: {{#start.raw_leads_data#}}

            - scoring_criteria: {{#start.scoring_criteria#}}

            - budget_threshold: {{#start.budget_threshold#}}

            - source_priority_list: {{#start.source_priority_list#}}

            - vip_assignment_rules: {{#start.vip_assignment_rules#}}

            - public_pool_matching_rules: {{#start.public_pool_matching_rules#}}

            - timeout_duration: {{#start.timeout_duration#}}

            - first_contact_outcome_definitions: {{#start.first_contact_outcome_definitions#}}


            上游节点输出结果：

            - input_check_1: {{#input_check_1.result#}}'
        selected: false
        title: 失败兜底
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_fallback_517f5c8e
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\"):\n  \
          \  values = []\n    values.append(arg1)\n    values.append(arg2)\n    for\
          \ v in values:\n        if v is None:\n            continue\n        if\
          \ isinstance(v, str) and v.strip():\n            return {\"output\": v}\n\
          \        if not isinstance(v, str):\n            try:\n                s\
          \ = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - input_check_1
          - result
        - variable: arg2
          value_selector:
          - llm_fallback_517f5c8e
          - text
      height: 51
      id: agg_a2e92b86
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
