generated/generic_20260416_090500.yml
app:
  description: 处理从订单创建到发货的全链路流程，包含库存预占、支付、物流、异常处理与审计日志
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 电商订单履约工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: code
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: agg_bdeb9f01-source-answer-target
      source: agg_bdeb9f01
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: code_audit_log-source-variable_aggregator-target
      source: code_audit_log
      sourceHandle: source
      target: variable_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: code_validate-source-ifelse_validation-target
      source: code_validate
      sourceHandle: source
      target: ifelse_validation
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: ifelse_payment-payment_failed-agg_bdeb9f01-target
      source: ifelse_payment
      sourceHandle: payment_failed
      target: agg_bdeb9f01
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: ifelse_payment-payment_success-code_audit_log-target
      source: ifelse_payment
      sourceHandle: payment_success
      target: code_audit_log
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: ifelse_validation-invalid-agg_bdeb9f01-target
      source: ifelse_validation
      sourceHandle: invalid
      target: agg_bdeb9f01
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: ifelse_validation-valid-ifelse_payment-target
      source: ifelse_validation
      sourceHandle: valid
      target: ifelse_payment
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_final_status-source-agg_bdeb9f01-target
      source: llm_final_status
      sourceHandle: source
      target: agg_bdeb9f01
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: code
        isInIteration: false
        isInLoop: false
      id: start-source-code_validate-target
      source: start
      sourceHandle: source
      target: code_validate
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: variable_aggregator-source-llm_final_status-target
      source: variable_aggregator
      sourceHandle: source
      target: llm_final_status
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 订单事件接收
        type: start
        variables:
        - default: ''
          hint: ''
          label: 前端订单创建事件数据
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: order_event
      height: 72
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef validate_order(order_data):\n    try:\n        order\
          \ = json.loads(order_data)\n        required_fields = ['order_id', 'customer_id',\
          \ 'items', 'total_amount']\n        for field in required_fields:\n    \
          \        if field not in order:\n                return {'valid': False,\
          \ 'error': f'Missing required field: {field}'}\n        \n        if not\
          \ isinstance(order['items'], list) or len(order['items']) == 0:\n      \
          \      return {'valid': False, 'error': 'Items must be a non-empty list'}\n\
          \        \n        if order['total_amount'] <= 0:\n            return {'valid':\
          \ False, 'error': 'Total amount must be positive'}\n        \n        return\
          \ {'valid': True, 'order': order}\n    except json.JSONDecodeError:\n  \
          \      return {'valid': False, 'error': 'Invalid JSON format'}\n\nresult\
          \ = validate_order(input)\noutput = result\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: 订单数据验证
        type: code
        variables:
        - value_selector:
          - start
          - order_event
          variable: input
      height: 51
      id: code_validate
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: valid
          id: valid
          logical_operator: or
          conditions:
          - id: cond_5b0f921b
            varType: string
            comparison_operator: contains
            value: ROUTE=valid
            variable_selector:
            - code_validate
            - text
        - case_id: invalid
          id: invalid
          logical_operator: or
          conditions:
          - id: cond_31488eb3
            varType: string
            comparison_operator: contains
            value: ROUTE=invalid
            variable_selector:
            - code_validate
            - text
        selected: false
        title: 验证结果判断
        type: if-else
      height: 99
      id: ifelse_validation
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: payment_success
          id: payment_success
          logical_operator: or
          conditions:
          - id: cond_be869881
            varType: string
            comparison_operator: contains
            value: ROUTE=payment_success
            variable_selector:
            - ifelse_validation
            - text
        - case_id: payment_failed
          id: payment_failed
          logical_operator: or
          conditions:
          - id: cond_f91cc493
            varType: string
            comparison_operator: contains
            value: ROUTE=payment_failed
            variable_selector:
            - ifelse_validation
            - text
        selected: false
        title: 支付结果判断
        type: if-else
      height: 99
      id: ifelse_payment
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport uuid\nimport datetime\n\ndef create_audit_log(order_data,\
          \ inventory_result, payment_result, logistics_result):\n    log_id = str(uuid.uuid4())\n\
          \    timestamp = datetime.datetime.now().isoformat()\n    \n    audit_log\
          \ = {\n        'audit_log_id': log_id,\n        'timestamp': timestamp,\n\
          \        'order_id': order_data.get('order_id'),\n        'customer_id':\
          \ order_data.get('customer_id'),\n        'inventory_lock_result': inventory_result,\n\
          \        'payment_result': payment_result,\n        'logistics_result':\
          \ logistics_result,\n        'workflow_status': 'completed'\n    }\n   \
          \ \n    return audit_log\n\nlog_data = create_audit_log(order, inventory_result,\
          \ payment_result, logistics_result)\noutput = log_data\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: 生成审计日志
        type: code
        variables:
        - value_selector:
          - code_validate
          - output.order
          variable: order
        - value_selector:
          - tool_inventory_lock
          - output
          variable: inventory_result
        - value_selector:
          - tool_payment
          - output
          variable: payment_result
        - value_selector:
          - tool_logistics
          - output
          variable: logistics_result
      height: 51
      id: code_audit_log
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\"):\n    values = []\n   \
          \ values.append(arg1)\n    for v in values:\n        if v is None:\n   \
          \         continue\n        if isinstance(v, str) and v.strip():\n     \
          \       return {\"output\": v}\n        if not isinstance(v, str):\n   \
          \         try:\n                s = json.dumps(v, ensure_ascii=False)\n\
          \                if isinstance(s, str) and s.strip():\n                \
          \    return {\"output\": s}\n            except Exception:\n           \
          \     pass\n    return {\"output\": \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果聚合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - code_audit_log
          - result
      height: 51
      id: variable_aggregator
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '基于以下订单处理结果，生成最终的履约状态报告：


            订单数据：{{order_data}}

            库存预占结果：{{inventory_result}}

            支付处理结果：{{payment_result}}

            物流下单结果：{{logistics_result}}

            审计日志ID：{{audit_log.audit_log_id}}


            请输出JSON格式，包含以下字段：

            - final_order_status: 订单最终状态（processing/shipped/cancelled）

            - fulfillment_result: 履约结果（success/partial_success/failure）

            - payment_transaction_id: 支付交易ID（如果支付成功）

            - logistics_order_id: 物流订单ID（如果物流下单成功）

            - audit_log_id: 审计日志ID

            - error_messages: 错误信息数组（如果有错误）


            用户输入：

            - order_event: {{#start.order_event#}}


            【上游节点输出结果】:

            - variable_aggregator: {{#variable_aggregator.output#}}


            输出要求：

            - 只输出最终结果，不要输出推理过程或解释

            - 不要输出 markdown 代码块围栏（```）'
        selected: false
        title: 生成最终状态
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_final_status
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#agg_bdeb9f01.output#}}'
        selected: false
        title: 返回履约结果
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 2480
        y: 280
      positionAbsolute:
        x: 2480
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\", arg3:\
          \ str = \"\"):\n    values = []\n    values.append(arg1)\n    values.append(arg2)\n\
          \    values.append(arg3)\n    for v in values:\n        if v is None:\n\
          \            continue\n        if isinstance(v, str) and v.strip():\n  \
          \          return {\"output\": v}\n        if not isinstance(v, str):\n\
          \            try:\n                s = json.dumps(v, ensure_ascii=False)\n\
          \                if isinstance(s, str) and s.strip():\n                \
          \    return {\"output\": s}\n            except Exception:\n           \
          \     pass\n    return {\"output\": \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 分支汇合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - ifelse_payment
          - result
        - variable: arg2
          value_selector:
          - ifelse_validation
          - result
        - variable: arg3
          value_selector:
          - llm_final_status
          - text
      height: 51
      id: agg_bdeb9f01
      position:
        x: 2180
        y: 280
      positionAbsolute:
        x: 2180
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
