generated/generic_20260416_092114.yml
app:
  description: 一个由代码推送事件自动触发的八节点CI/CD工作流，涵盖代码质量分析、Docker镜像构建、Kubernetes灰度发布、实时监控与自动回滚，最终发送通知并归档日志。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: CI/CD 自动化部署流水线
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: aggregator-source-report_generator-target
      source: aggregator
      sourceHandle: source
      target: report_generator
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: code_quality_check-source-quality_gate-target
      source: code_quality_check
      sourceHandle: source
      target: quality_gate
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: quality_gate-fail-aggregator-target
      source: quality_gate
      sourceHandle: fail
      target: aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: quality_gate-pass-aggregator-target
      source: quality_gate
      sourceHandle: pass
      target: aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: quality_gate-pass-rollback_decision-target
      source: quality_gate
      sourceHandle: pass
      target: rollback_decision
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: report_generator-source-answer-target
      source: report_generator
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: rollback_decision-healthy-aggregator-target
      source: rollback_decision
      sourceHandle: healthy
      target: aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: rollback_decision-unhealthy-aggregator-target
      source: rollback_decision
      sourceHandle: unhealthy
      target: aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: http-request
        isInIteration: false
        isInLoop: false
      id: start-source-code_quality_check-target
      source: start
      sourceHandle: source
      target: code_quality_check
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 代码仓库地址
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: repository_url
        - default: ''
          hint: ''
          label: 触发分支
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: branch
        - default: ''
          hint: ''
          label: SonarQube项目Key
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: sonar_project_key
        - default: ''
          hint: ''
          label: Dockerfile路径
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: dockerfile_path
        - default: ''
          hint: ''
          label: Kubernetes部署清单
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: k8s_manifest
        - default: ''
          hint: ''
          label: 企业微信群机器人Webhook地址
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: wechat_webhook_url
      height: 72
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          type: none
          data: []
        headers: 'Content-Type: application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: true
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 代码质量分析
        type: http-request
        url: https://httpbin.org/get
        variables:
        - value_selector:
          - start
          - repository_url
          variable: repository_url
        - value_selector:
          - start
          - branch
          variable: branch
        - value_selector:
          - start
          - sonar_project_key
          variable: sonar_project_key
      height: 80
      id: code_quality_check
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: pass
          id: pass
          logical_operator: or
          conditions:
          - id: cond_9c0a1a2f
            varType: string
            comparison_operator: contains
            value: ROUTE=pass
            variable_selector:
            - code_quality_check
            - text
        - case_id: fail
          id: fail
          logical_operator: or
          conditions:
          - id: cond_ea5064fb
            varType: string
            comparison_operator: contains
            value: ROUTE=fail
            variable_selector:
            - code_quality_check
            - text
        selected: false
        title: 质量门禁检查
        type: if-else
      height: 99
      id: quality_gate
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: healthy
          id: healthy
          logical_operator: or
          conditions:
          - id: cond_fb8e0bd3
            varType: string
            comparison_operator: contains
            value: ROUTE=healthy
            variable_selector:
            - quality_gate
            - text
        - case_id: unhealthy
          id: unhealthy
          logical_operator: or
          conditions:
          - id: cond_f9842be5
            varType: string
            comparison_operator: contains
            value: ROUTE=unhealthy
            variable_selector:
            - quality_gate
            - text
        selected: false
        title: 回滚决策
        type: if-else
      height: 99
      id: rollback_decision
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\", arg3:\
          \ str = \"\", arg4: str = \"\"):\n    values = []\n    values.append(arg1)\n\
          \    values.append(arg2)\n    values.append(arg3)\n    values.append(arg4)\n\
          \    for v in values:\n        if v is None:\n            continue\n   \
          \     if isinstance(v, str) and v.strip():\n            return {\"output\"\
          : v}\n        if not isinstance(v, str):\n            try:\n           \
          \     s = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: 结果聚合
        type: code
        variables:
        - variable: arg1
          value_selector:
          - quality_gate
          - result
        - variable: arg2
          value_selector:
          - quality_gate
          - result
        - variable: arg3
          value_selector:
          - rollback_decision
          - result
        - variable: arg4
          value_selector:
          - rollback_decision
          - result
      height: 51
      id: aggregator
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\n\ndef main(input_data):\n    quality_status = input_data.get('quality_status',\
          \ 'UNKNOWN')\n    new_image_tag = input_data.get('new_image_tag', 'N/A')\n\
          \    deployment_status = input_data.get('deployment_status', 'UNKNOWN')\n\
          \    monitoring_metrics = input_data.get('monitoring_metrics', {})\n   \
          \ rollback_status = input_data.get('rollback_status', 'N/A')\n    \n   \
          \ error_rate = monitoring_metrics.get('error_rate', 0)\n    latency = monitoring_metrics.get('latency',\
          \ 0)\n    \n    final_status = '成功'\n    if deployment_status == 'FAILED':\n\
          \        final_status = '失败'\n    elif rollback_status == 'SUCCESS':\n \
          \       final_status = '已回滚'\n    \n    report = f\"# CI/CD 部署报告\\n\\n\"\
          \n    report += f\"## 构建状态\\n- 代码质量检查: {quality_status}\\n\"\n    report\
          \ += f\"- Docker镜像标签: {new_image_tag}\\n\"\n    report += f\"\\n## 发布状态\\\
          n- 部署状态: {deployment_status}\\n\"\n    report += f\"- 最终状态: {final_status}\\\
          n\"\n    report += f\"\\n## 监控指标\\n- 错误率: {error_rate:.2%}\\n\"\n    report\
          \ += f\"- 延迟: {latency}ms\\n\"\n    report += f\"\\n## 回滚状态\\n- 回滚操作: {rollback_status}\\\
          n\"\n    \n    return {\n        'final_report': report,\n        'pipeline_log_url':\
          \ 'https://logs.example.com/pipeline-12345',\n        'deployment_status':\
          \ final_status,\n        'new_image_tag': new_image_tag\n    }\n\nresult\
          \ = main(input)\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: 生成最终报告
        type: code
        variables:
        - value_selector:
          - aggregator
          - aggregated_data
          variable: input
      height: 51
      id: report_generator
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#report_generator.result#}}'
        selected: false
        title: 完成
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
