generated/generic_20260414_160405.yml
app:
  description: 通过意图分析自动选择并执行合适的处理路径（检索、工具调用或代码执行），最终获得格式统一的处理结果
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 智能意图处理工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: code_fallback-source-results_aggregator-target
      source: code_fallback
      sourceHandle: source
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: data_processing_code-fail-branch-code_fallback-target
      source: data_processing_code
      sourceHandle: fail-branch
      target: code_fallback
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: code
        isInIteration: false
        isInLoop: false
      id: data_processing_code-success-branch-results_aggregator-target
      source: data_processing_code
      sourceHandle: success-branch
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: formatting_template-source-final_answer-target
      source: formatting_template
      sourceHandle: source
      target: final_answer
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
        isInIteration: false
        isInLoop: false
      id: intent_analysis-source-intent_router-target
      source: intent_analysis
      sourceHandle: source
      target: intent_router
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: intent_router-code_branch-data_processing_code-target
      source: intent_router
      sourceHandle: code_branch
      target: data_processing_code
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: knowledge-retrieval
        isInIteration: false
        isInLoop: false
      id: intent_router-retrieval_branch-knowledge_retrieval-target
      source: intent_router
      sourceHandle: retrieval_branch
      target: knowledge_retrieval
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: intent_router-default_branch-llm_direct_processing-target
      source: intent_router
      sourceHandle: default_branch
      target: llm_direct_processing
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: code
        isInIteration: false
        isInLoop: false
      id: knowledge_retrieval-source-results_aggregator-target
      source: knowledge_retrieval
      sourceHandle: source
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: llm_direct_processing-source-results_aggregator-target
      source: llm_direct_processing
      sourceHandle: source
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: template-transform
        isInIteration: false
        isInLoop: false
      id: results_aggregator-source-formatting_template-target
      source: results_aggregator
      sourceHandle: source
      target: formatting_template
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: start_1-source-intent_analysis-target
      source: start_1
      sourceHandle: source
      target: intent_analysis
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
        isInIteration: false
        isInLoop: false
      id: tool_fallback-source-results_aggregator-target
      source: tool_fallback
      sourceHandle: source
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
        isInIteration: false
        isInLoop: false
      id: intent_router-tool_branch-results_aggregator-target
      source: intent_router
      sourceHandle: tool_branch
      target: results_aggregator
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: intent_router-tool_branch-tool_fallback-target
      source: intent_router
      sourceHandle: tool_branch
      target: tool_fallback
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: start_1
        type: start
        variables:
        - default: ''
          hint: ''
          label: 用户输入
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: user_input
        - default: ''
          hint: ''
          label: 附加上下文
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: additional_context
        - default: ''
          hint: ''
          label: 参考文件
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: reference_files
      height: 72
      id: start_1
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - user_input: {{#start.user_input#}}

            - additional_context: {{#start.additional_context#}}

            - reference_files: {{#start.reference_files#}}'
        selected: false
        title: intent_analysis
        type: llm
        vision:
          enabled: false
      height: 87
      id: intent_analysis
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: retrieval_branch
          id: retrieval_branch
          logical_operator: or
          conditions:
          - id: cond_3f4f6bf6
            varType: string
            comparison_operator: contains
            value: retrieval_branch
            variable_selector:
            - intent_analysis
            - text
        - case_id: tool_branch
          id: tool_branch
          logical_operator: or
          conditions:
          - id: cond_1fe11054
            varType: string
            comparison_operator: contains
            value: tool_branch
            variable_selector:
            - intent_analysis
            - text
        - case_id: code_branch
          id: code_branch
          logical_operator: or
          conditions:
          - id: cond_be4b0ae0
            varType: string
            comparison_operator: contains
            value: code_branch
            variable_selector:
            - intent_analysis
            - text
        - case_id: default_branch
          id: default_branch
          logical_operator: or
          conditions:
          - id: cond_e8204660
            varType: string
            comparison_operator: contains
            value: default_branch
            variable_selector:
            - intent_analysis
            - text
        selected: false
        title: intent_router
        type: if-else
      height: 99
      id: intent_router
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 9rXRQWgiUCyrX2WhEZIRU6SJ/MQbvSW5qejeaZAme11e7pFDJR2IZYhSZZRc7dBY
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - start
        - user_input
        retrieval_mode: multiple
        selected: true
        title: knowledge_retrieval
        type: knowledge-retrieval
      height: 89
      id: knowledge_retrieval
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef clean_text(text):\n    \"\"\"清理文本数据\"\
          \"\"\n    if not text:\n        return \"\"\n    # 移除多余空白字符\n    text =\
          \ re.sub(r'\\s+', ' ', text)\n    # 移除特殊字符但保留基本标点\n    text = re.sub(r'[^\\\
          w\\s.,!?\\-\\:\\;\\(\\)\\[\\]\\{\\}]', '', text)\n    return text.strip()\n\
          \n# 主处理逻辑\ninput_data = {{steps.start_1.output.user_input}}\nif isinstance(input_data,\
          \ dict):\n    input_data = json.dumps(input_data)\n\ncleaned = clean_text(input_data)\n\
          result = {\n    \"original_length\": len(input_data),\n    \"cleaned_length\"\
          : len(cleaned),\n    \"cleaned_text\": cleaned,\n    \"processing_time\"\
          : \"completed\"\n}\noutput = json.dumps(result, ensure_ascii=False)\n"
        code_language: python
        outputs:
          result:
            type: string
            children: null
        selected: false
        title: data_processing_code
        type: code
        variables:
        - variable: input_text
          value_selector:
          - start
          - user_input
        error_strategy: fail-branch
      height: 51
      id: data_processing_code
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - user_input: {{#start.user_input#}}

            - additional_context: {{#start.additional_context#}}

            - reference_files: {{#start.reference_files#}}'
        selected: false
        title: llm_direct_processing
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_direct_processing
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - user_input: {{#start.user_input#}}

            - additional_context: {{#start.additional_context#}}

            - reference_files: {{#start.reference_files#}}'
        selected: false
        title: tool_fallback
        type: llm
        vision:
          enabled: false
      height: 87
      id: tool_fallback
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - user_input: {{#start.user_input#}}

            - additional_context: {{#start.additional_context#}}

            - reference_files: {{#start.reference_files#}}


            上游节点输出结果：

            - data_processing_code: {{#data_processing_code.result#}}'
        selected: false
        title: code_fallback
        type: llm
        vision:
          enabled: false
      height: 87
      id: code_fallback
      position:
        x: 2180
        y: 280
      positionAbsolute:
        x: 2180
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "\nimport json\n\ndef main(arg1: str = \"\", arg2: str = \"\", arg3:\
          \ str = \"\", arg4: str = \"\", arg5: str = \"\", arg6: str = \"\"):\n \
          \   values = []\n    values.append(arg1)\n    values.append(arg2)\n    values.append(arg3)\n\
          \    values.append(arg4)\n    values.append(arg5)\n    values.append(arg6)\n\
          \    for v in values:\n        if v is None:\n            continue\n   \
          \     if isinstance(v, str) and v.strip():\n            return {\"output\"\
          : v}\n        if not isinstance(v, str):\n            try:\n           \
          \     s = json.dumps(v, ensure_ascii=False)\n                if isinstance(s,\
          \ str) and s.strip():\n                    return {\"output\": s}\n    \
          \        except Exception:\n                pass\n    return {\"output\"\
          : \"\"}\n"
        code_language: python3
        outputs:
          output:
            type: string
            children: null
        selected: false
        title: results_aggregator
        type: code
        variables:
        - variable: arg1
          value_selector:
          - code_fallback
          - text
        - variable: arg2
          value_selector:
          - data_processing_code
          - result
        - variable: arg3
          value_selector:
          - knowledge_retrieval
          - result
        - variable: arg4
          value_selector:
          - llm_direct_processing
          - text
        - variable: arg5
          value_selector:
          - tool_fallback
          - text
        - variable: arg6
          value_selector:
          - intent_router
          - text
      height: 51
      id: results_aggregator
      position:
        x: 2480
        y: 280
      positionAbsolute:
        x: 2480
        y: 280
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: true
        template: '【最终结果】

          {{ arg1 }}'
        title: formatting_template
        type: template-transform
        variables:
        - variable: arg1
          value_selector:
          - results_aggregator
          - output
      height: 51
      id: formatting_template
      position:
        x: 2780
        y: 280
      positionAbsolute:
        x: 2780
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#formatting_template.output#}}'
        selected: false
        title: final_answer
        type: answer
        variables: []
      height: 102
      id: final_answer
      position:
        x: 3080
        y: 280
      positionAbsolute:
        x: 3080
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
