generated/qa_20260326_214232.yml
app:
  description: 一个基于知识库检索和智能生成的内部数据问答工作流，用于回答员工关于公司内部数据、文档和流程的问题。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 公司内部数据问答系统
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: start-source-llm_input_check-target
      source: start
      sourceHandle: source
      target: llm_input_check
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_input_check-source-llm_intent-target
      source: llm_input_check
      sourceHandle: source
      target: llm_intent
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_intent-source-llm_plan-target
      source: llm_intent
      sourceHandle: source
      target: llm_plan
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: knowledge-retrieval
        isInIteration: false
        isInLoop: false
      id: llm_plan-source-kb_retrieval-target
      source: llm_plan
      sourceHandle: source
      target: kb_retrieval
      targetHandle: target
      type: custom
    - data:
        sourceType: knowledge-retrieval
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: kb_retrieval-source-llm_generate-target
      source: kb_retrieval
      sourceHandle: source
      target: llm_generate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
        isInLoop: false
      id: llm_generate-source-template_output-target
      source: llm_generate
      sourceHandle: source
      target: template_output
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: template_output-source-answer-target
      source: template_output
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 问题
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: question
      height: 72
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请检查用户输入是否完整、明确、可执行。如信息不足，请指出缺失项；如信息充分，请输出“输入通过”。


            用户输入：

            - question: {{#start.question#}}'
        selected: false
        title: 输入校验
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_input_check
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请提取任务目标、输入变量、输出形式、关键约束、风险点和推荐执行路径。


            用户输入：

            - question: {{#start.question#}}


            上游节点输出结果：

            - llm_input_check: {{#llm_input_check.text#}}'
        selected: false
        title: 需求理解
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_intent
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请基于需求理解结果，规划后续执行步骤，并说明最适合走知识库、代码处理、工具调用还是直接生成。


            用户输入：

            - question: {{#start.question#}}


            上游节点输出结果：

            - llm_intent: {{#llm_intent.text#}}'
        selected: false
        title: 执行规划
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_plan
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        dataset_ids:
        - 9rXRQWgiUCyrX2WhEZIRU6SJ/MQbvSW5qejeaZAme11e7pFDJR2IZYhSZZRc7dBY
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - start
        - question
        retrieval_mode: multiple
        selected: true
        title: 知识库检索
        type: knowledge-retrieval
      height: 89
      id: kb_retrieval
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请综合前面步骤的输入与中间结果，生成最终可交付内容。


            用户输入：

            - question: {{#start.question#}}


            上游节点输出结果：

            - kb_retrieval: {{#kb_retrieval.result#}}'
        selected: false
        title: 结果生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_generate
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: true
        template: '【最终结果】

          {{ arg1 }}'
        title: 格式输出
        type: template-transform
        variables:
        - variable: arg1
          value_selector:
          - llm_generate
          - text
      height: 51
      id: template_output
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#template_output.output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 2180
        y: 280
      positionAbsolute:
        x: 2180
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
