generated/translation_20260408_110421.yml
app:
  description: 一个自动化的翻译流程，能够识别输入文本的语种，将其翻译成目标语言，进行质量校验，并格式化输出结果。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 多语言翻译工作流
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: start_1-source-detect_language-target
      source: start_1
      sourceHandle: source
      target: detect_language
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: detect_language-source-translate_text-target
      source: detect_language
      sourceHandle: source
      target: translate_text
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: translate_text-source-quality_check-target
      source: translate_text
      sourceHandle: source
      target: quality_check
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
        isInLoop: false
      id: quality_check-source-format_output-target
      source: quality_check
      sourceHandle: source
      target: format_output
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: format_output-source-answer_1-target
      source: format_output
      sourceHandle: source
      target: answer_1
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: start_1
        type: start
        variables:
        - default: ''
          hint: ''
          label: 源文本
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: source_text
        - default: ''
          hint: ''
          label: 目标语言
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: target_language
      height: 72
      id: start_1
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - source_text: {{#start.source_text#}}

            - target_language: {{#start.target_language#}}'
        selected: false
        title: detect_language
        type: llm
        vision:
          enabled: false
      height: 87
      id: detect_language
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - source_text: {{#start.source_text#}}

            - target_language: {{#start.target_language#}}


            上游节点输出结果：

            - detect_language: {{#detect_language.text#}}'
        selected: false
        title: translate_text
        type: llm
        vision:
          enabled: false
      height: 87
      id: translate_text
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请根据用户输入完成任务。


            用户输入：

            - source_text: {{#start.source_text#}}

            - target_language: {{#start.target_language#}}


            上游节点输出结果：

            - translate_text: {{#translate_text.text#}}'
        selected: false
        title: quality_check
        type: llm
        vision:
          enabled: false
      height: 87
      id: quality_check
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: true
        template: '【原文】

          {{ arg1 }}


          【译文】

          {{ arg1 }}


          【表达说明】

          {{ arg1 }}'
        title: format_output
        type: template-transform
        variables:
        - variable: arg1
          value_selector:
          - quality_check
          - text
      height: 51
      id: format_output
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#format_output.output#}}'
        selected: false
        title: answer_1
        type: answer
        variables: []
      height: 102
      id: answer_1
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
