generated/xiaohongshu_20260408_022401.yml
app:
  description: 一个根据用户输入的主题和关键词，自动生成符合小红书平台风格的爆款笔记内容的工作流。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 小红书爆款内容生成器
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.11@35bcd3f233f99d07bdadef8b326945df3bda5e8f773330144bc90d84800336b9
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: start-source-llm_input_check-target
      source: start
      sourceHandle: source
      target: llm_input_check
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_input_check-source-llm_intent-target
      source: llm_input_check
      sourceHandle: source
      target: llm_intent
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_intent-source-llm_plan-target
      source: llm_intent
      sourceHandle: source
      target: llm_plan
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_plan-source-llm_generate-target
      source: llm_plan
      sourceHandle: source
      target: llm_generate
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: llm
        isInIteration: false
        isInLoop: false
      id: llm_generate-source-llm_review-target
      source: llm_generate
      sourceHandle: source
      target: llm_review
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: template-transform
        isInIteration: false
        isInLoop: false
      id: llm_review-source-template_output-target
      source: llm_review
      sourceHandle: source
      target: template_output
      targetHandle: target
      type: custom
    - data:
        sourceType: template-transform
        targetType: answer
        isInIteration: false
        isInLoop: false
      id: template_output-source-answer-target
      source: template_output
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          hint: ''
          label: 核心主题
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: topic
        - default: ''
          hint: ''
          label: 关键词
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: keywords
        - default: ''
          hint: ''
          label: 风格/语气
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: tone
      height: 72
      id: start
      position:
        x: 80
        y: 280
      positionAbsolute:
        x: 80
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请检查用户输入是否完整、明确、可执行。如信息不足，请指出缺失项；如信息充分，请输出“输入通过”。


            用户输入：

            - topic: {{#start.topic#}}

            - keywords: {{#start.keywords#}}

            - tone: {{#start.tone#}}'
        selected: false
        title: 输入校验
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_input_check
      position:
        x: 380
        y: 280
      positionAbsolute:
        x: 380
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请提取任务目标、输入变量、输出形式、关键约束、风险点和推荐执行路径。


            用户输入：

            - topic: {{#start.topic#}}

            - keywords: {{#start.keywords#}}

            - tone: {{#start.tone#}}


            上游节点输出结果：

            - llm_input_check: {{#llm_input_check.text#}}'
        selected: false
        title: 需求理解
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_intent
      position:
        x: 680
        y: 280
      positionAbsolute:
        x: 680
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请基于需求理解结果，规划后续执行步骤，并说明最适合走知识库、代码处理、工具调用还是直接生成。


            用户输入：

            - topic: {{#start.topic#}}

            - keywords: {{#start.keywords#}}

            - tone: {{#start.tone#}}


            上游节点输出结果：

            - llm_intent: {{#llm_intent.text#}}'
        selected: false
        title: 执行规划
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_plan
      position:
        x: 980
        y: 280
      positionAbsolute:
        x: 980
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请综合前面步骤的输入与中间结果，生成最终可交付内容。


            用户输入：

            - topic: {{#start.topic#}}

            - keywords: {{#start.keywords#}}

            - tone: {{#start.tone#}}


            上游节点输出结果：

            - llm_plan: {{#llm_plan.text#}}


            请把结果整理成固定结构输出：

            【最终标题1】

            【最终标题2】

            【最终标题3】

            【最终正文】

            【推荐标签】

            【评论区引导语】

            不要输出解释。'
        selected: false
        title: 结果生成
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_generate
      position:
        x: 1280
        y: 280
      positionAbsolute:
        x: 1280
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - role: system
          text: '请检查结果是否完整、清晰、格式正确，并输出优化后的最终版本。


            用户输入：

            - topic: {{#start.topic#}}

            - keywords: {{#start.keywords#}}

            - tone: {{#start.tone#}}


            上游节点输出结果：

            - llm_generate: {{#llm_generate.text#}}'
        selected: false
        title: 结果优化
        type: llm
        vision:
          enabled: false
      height: 87
      id: llm_review
      position:
        x: 1580
        y: 280
      positionAbsolute:
        x: 1580
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: true
        template: '【最终标题1】

          {{ arg1 }}


          【最终标题2】

          {{ arg1 }}


          【最终标题3】

          {{ arg1 }}


          【最终正文】

          {{ arg1 }}


          【推荐标签】

          {{ arg1 }}


          【评论区引导语】

          {{ arg1 }}'
        title: 格式输出
        type: template-transform
        variables:
        - variable: arg1
          value_selector:
          - llm_review
          - text
      height: 51
      id: template_output
      position:
        x: 1880
        y: 280
      positionAbsolute:
        x: 1880
        y: 280
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        answer: '{{#template_output.output#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 102
      id: answer
      position:
        x: 2180
        y: 280
      positionAbsolute:
        x: 2180
        y: 280
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    viewport:
      x: -159.26539869531166
      y: 186.60632074709312
      zoom: 0.7578582832551991
  rag_pipeline_variables: []
